/*
#fefbd8 -
#618685
#36486b
#4040a1

*/

body {
  margin: 0 auto;
  width: 100%;
  max-width: 1024px;
  background-color: #36486b;
  /*height: 1000px;*/
}
.container {
  margin: 0 auto;
  margin-bottom: -22px;
  min-height: 1400px;
  background-color: #fefbd8;
}
header {
  position: relative;
  /*background: linear-gradient(#4a4e69, white);*/
  background-color: #fefbd8;
}
header img {
  width: 30%;
}
header h1 {
  color: yellow;
  text-shadow: 5px 5px 5px orange;
}
.menu_opcoes {
  position: absolute;
  bottom: 0;
  right: 0;
}
.predio {
  padding: 15px;
  margin: 30px;
  background-color: #36486b;
  border: 1px solid #ccc;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  width: 400px;
}
figcaption {
  margin-top: 10px;
  font-weight: bold;
  color: #fefbd8;
  font-style: italic;
}
h1 {
  padding: 10px;
}
h2 {
  padding: 20px;
}
p {
  padding: 0 45px;
  text-indent: 15px;
}
.evento {
  float: left;
  margin: 30px
  width: 400px;
  padding: 15px;
  background-color: #36486b;
  border: 1px solid #ccc;
  text-align: center;
  margin-top: 50px;
  
}

footer {
  //position: relative;
  clear: both;
  padding: 20px;
  background-color: red;
}

//menu responsivo
.topnav {
   background-color: #4040a1;
}
.topnav {
  overflow: hidden;
  background-color: #4040a1;
}
.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}
.topnav a:hover {
  background-color: #fefbd8;
  color: black;
}
.topnav a.active {
  background-color: #618685;
  color: white;
}
.topnav .icon {
  display: none;
}

/*parte responsiva do menu*/

@media screen and (max-width: 600px) {
  .topnav a:not(:first-child) {display: none;}
  .topnav a.icon {
    float: right;
    display: block;
  }
}
@media screen and (max-width: 600px){
  .topnav.responsive {position: relative;}
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}
.destaque {
   width: 30%;
   height: 300px;
   background-color: #4040a1;
   float: left;
}
.img_destaque {
  height: 300px;
  background-color: blue;
}
.img_destaque img {
  width: 68%;
  padding: 1%;
}
.busca input[type=search] {
  width: 200px;
}
.busca h3,
.menu_itens h3,
.busca form {
  margin: 10px;
  color: #FFFFFF;
}
.busca button {
  background-color: black;
  color: white;
  font-weight: bold;
  font-family: verdana;
  font-size: 15px;
  box-shadow: 2px 2px 2px white;
  border-radius: 5px;
  margin-bottom: 15px;
  border: none;
}
.busca,
.menu_itens {
  background-color: #618685;
  font-weight: bold;
  font-family: verdana;
  font-size: 15px;
  margin: 5px;
  border-radius: 15px;
}
.menu_itens {
  clear: left;
  margin-bottom: 10px;
  padding: 10px;
}
.menu_itens li {
  background-color: #395756ff;
  margin-bottom: 2px;
  padding: 5px 10px;
  border-radius: 5px;
  border: 2px solid white;
}
.menu_itens a {
  color: white;
  text-decoration: none;
}
.menu_itens ul {
  list-style: none;
}








